<template>
	<div>
		<app-header></app-header>
		<logger v-on:log="log"></logger>
		<log :items="items"></log>
		<app-footer :timeLogged="timeLogged" :timeRemaining="timeRemaining"></app-footer>
	</div>
</template>

<script>
	import Hal from 'halson';
	import TimeMixins from '../mixins/time.js';

	import AppFooter from './AppFooter.vue';
	import AppHeader from './AppHeader.vue';
	import Log from './Log.vue';
	import Logger from './Logger.vue';

	export default {
		components: {
	    	'app-footer': AppFooter,
	    	'app-header': AppHeader,
	    	'log': Log,
	    	'logger': Logger
	    },

	    mixins: [TimeMixins],

	    data() {
	    	let resource = this.$resource('logs{/id}');
	    	let items = [];

	    	resource.get().then((response) => {
	    		let resources = Hal(response.body).getEmbeds('log');
	    		resources.forEach(function (item) {
	    			items.push({"id": item.id, "time": item.time, "description": item.description});
	    		});
	    	});

	    	return {
	    		items: items,
	    	}
	    },

	    computed: {
	    	timeLogged() {
	    		return this.items.map(item => item.time).reduce((previous, current) => {
	    			return previous + current;
	    		});
	    	},

	    	timeRemaining() {
	    		return 21600 - this.timeLogged;
	    	}
	    },

	    methods: {
			log(time, description) {
	    		this.items.unshift({
	    			'id': 'foo',
	    			'time': this.parseTime(time),
	    			'description': description
	    		});
	    	}
		}
	}
</script>

<style scoped>
	#app {
		margin: 50px;
	}
</style>