<template>
	<div class="footer row between-xs">
		<span class="footer__item footer__time_logged">Logged: {{ formatTime(timeLogged) }}</span>
		<span class="footer__item footer__time_remaining">Remaining: {{ formatTime(timeRemaining) }}</span>
	</div>
</template>

<style scoped>
	.footer__item {
		font-size: 1.3em;
	}
</style>

<script>
	import TimeMixins from '../mixins/time.js';

	export default {
		props: ['timeLogged', 'timeRemaining'],

		mixins: [TimeMixins],

        mounted() {
            // console.log('Component ready.')
        }
    }
</script>