<template>
	<header class="header row">
		<h1 class="col-xs header__title">Work Log</h1>
	</header>
</template>

<style scoped>
	.header {
		margin-bottom: 40px;
	}

	.header__title {
		font-size: 2em;
	}
</style>

<script>
	// export default {
 //        mounted() {
 //            console.log('Component ready.')
 //        }
 //    }
</script>