<template>
	<div class="log">
		<div class="item row"
			v-for="item in items"
		>
			<span class="col-xs-3 col-sm-2 item__data item__time">{{ formatTime(item.time) }}</span>
			<span class="col-xs item__data item__description">{{ item.description }}</span>
		</div>
	</div>
</template>

<style scoped>
	.log {
		margin-bottom: 40px;
	}

	.item__data {
		padding-top: 9px;
		padding-bottom: 9px;
	}
</style>

<script>
	import TimeMixins from '../mixins/time.js';

	export default {
		props: ['items'],

		mixins: [TimeMixins],

        mounted() {
            // console.log('Component ready.');
        }
    }
</script>