<template>
	<div class="logger row">
		<div class="col-xs-3 col-sm-2 group logger__time">
			<input type="text" class="input" required v-model.trim="time">
			<span class="highlight"></span>
			<span class="bar"></span>
			<label>Time</label>
		</div>

		<div class="col-xs group logger__description">
			<input type="text" class="input" required v-model.trim="description">
			<span class="highlight"></span>
			<span class="bar"></span>
			<label>Description</label>
		</div>

		<div class="col-xs-12 col-sm-2 end-xs start-sm">
			<button class="mui-btn" v-on:click="log">Log</button>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				time: '',
		    	description: ''
			};
		},

		methods: {
			log: function (event) {
				this.$emit('log', this.time, this.description);

				this.time = '';
				this.description = '';

				// this.time.focus();
			}
		},

        mounted() {
            // console.log('Component ready.')
        }
    }
</script>

<style scoped>
	.logger {
		margin-bottom: 20px;
	}

	.input {
		width: 100%;
	}

	.mui-btn {
		width: 100%;
		box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
	    font-weight: 500;
	    font-size: 14px;
	    line-height: 18px;
	    text-transform: uppercase;
	    color: rgba(0,0,0,.87);
	    background-color: #FFF;
	    transition: all .2s ease-in-out;
	    display: inline-block;
	    height: 36px;
	    padding: 0 26px;
	    margin-top: 6px;
	    margin-bottom: 6px;
	    border: none;
	    border-radius: 2px;
	    cursor: pointer;
	    -ms-touch-action: manipulation;
	    touch-action: manipulation;
	    background-image: none;
	    text-align: center;
	    line-height: 36px;
	    vertical-align: middle;
	    white-space: nowrap;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    font-size: 14px;
	    letter-spacing: .03em;
	    position: relative;
	    overflow: hidden
	}

	.mui-btn:active,.mui-btn:focus,.mui-btn:hover {
	    color: rgba(0,0,0,.87);
	    background-color: #fff;
	    outline: none;
	}

	/*https://scotch.io/tutorials/google-material-design-input-boxes-in-css3*/

	/* form starting stylings ------------------------------- */
	.group {
		position:relative;
	}

	input {
		font-size:18px;
		padding:10px 0;
		display:block;
		border:none;
		border-bottom:1px solid #757575;
	}

	input:focus {
		outline:none;
	}

	/* LABEL ======================================= */
	label {
		color:#999;
		font-size:18px;
		font-weight:normal;
		position:absolute;
		pointer-events:none;
		/*left:5px;*/
		top:10px;
		transition:0.2s ease all;
	}

	/* active state */
	input:focus ~ label, input:valid ~ label {
		top:-20px;
		font-size:14px;
		color:#5264AE;
	}

	/* BOTTOM BARS ================================= */
	.bar  {
		position:relative;
		display:block;
	}

	.bar:before, .bar:after {
		content:'';
		height:2px;
		width:0;
		bottom:1px;
		position:absolute;
		background:#5264AE;
		transition:0.2s ease all;
	}

	.bar:before {
		left:50%;
	}

	.bar:after {
		right:50%;
	}

	/* active state */
	input:focus ~ .bar:before, input:focus ~ .bar:after {
		width:50%;
	}

	/* HIGHLIGHTER ================================== */
	.highlight {
		position:absolute;
		height:60%;
		width:100px;
		top:25%;
		left:0;
		pointer-events:none;
		opacity:0.5;
	}

	/* active state */
	input:focus ~ .highlight {
		animation: inputHighlighter 0.3s ease;
	}

	/* ANIMATIONS ================ */
	@keyframes inputHighlighter {
		from {
			background:#5264AE;
		}
		to {
			width:0;
			background:transparent;
		}
	}
</style>