@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css);
body {
  font-family: 'Slabo 27px', serif; }

/*# sourceMappingURL=app.css.map */
